<div class="col-md-6 col-md-offset-3 main">
    <div class="content">
        <h1>Time is money (<a href="https://github.com/parkeristyping/timeismoney">github</a>)</h1>
        <p>
            This site costs $0.01 per second to view (after you've passed this pay wall). Enter your payment information below to continue to the main content.
        </p>
        <br>
        <%= form_for @customer do |f| %>
            <div id="authorize-form"></div>
            <br>
            <%= f.submit "Authorize charge of $0.01 per second", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
 var clientToken = "<%= @client_token %>";

 braintree.setup(clientToken, "dropin", {
     container: "authorize-form"
 });
</script>
