<div class="col-md-4 col-md-offset-4 main">
    <div class="content">
        <h1>Time is money</h1>
        <p>
            This site costs $0.01 per second to view (after you've passed this pay wall). Enter your payment information below to continue to the main content.
        </p>
        <br>
        <%= form_tag("/authorize", id: "authorize") do %>
            <div id="authorize-form"></div>
            <br>
            <input type="submit" class="btn btn-primary" value="Authorize charge of $0.01 per second">
        <% end %>
    </div>
</div>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
 var clientToken = "<%= @client_token %>";

 braintree.setup(clientToken, "dropin", {
     container: "authorize-form"
 });
</script>
